<html>
    <head>
        <title>Tyrants of the Underdark</title>
    </head>
    <body>
        <p><b>Turn</b></p>
        <p>{{ game.players[game.current_player].name }}</p>
        {% for player in game.players %}
        <p><b>{{ game.players[player].name }}</b></p>
        <p>{{ game.players[player].color }}</p>
        <p>
        {% for card in game.players[player].deck %}
        {{ card.name }}
        {% endfor %}
        </p>
        {% endfor %}
        <p><b>Market</b></p>
        <p>
        {% for card in game.market.cards_face_up %}
        {{ card.name }}
        {% endfor %}
        </p>
    </body>
</html>